<div class="main-container">
  <div *ngIf="message" [ngClass]="{'alert alert-app-level alert-info': message.type === AlertType.Info, 'alert alert-app-level alert-danger': message.type === AlertType.Error}"
       role="alert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="alert-text">
          {{ message.message }}
        </span>
      </div>
    </div>
  </div>
  <header class="header header-5">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">{{ title }}</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/todo" class="nav-link" routerLinkActive="active">
        <span class="nav-text">Gatekeeper</span>
      </a>

      <a routerLink="/workflow" class="nav-link" routerLinkActive="active">
        <span class="nav-text">Workflow</span>
      </a>

      <a routerLink="/widgets" class="nav-link" routerLinkActive="active">
        <span class="nav-text">Widgets</span>
      </a>

    </div>
    <div class="header-actions">
      <a routerLink="/settings" class="nav-link nav-icon" aria-label="settings">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </header>

  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/config" class="nav-link active">Configuration</a>
      </li>
    </ul>
  </nav>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

    <nav class="sidenav">
      <section class="sidenav-content">
        <a routerLink="/" class="nav-link">Workflow Sample</a>
        <a routerLink="/" class="nav-link">Widgets</a>

        <section class="nav-group collapsible">
          <input type="checkbox" id="tabexample1">
          <label for="tabexample1">Todo HTTP Interceptor</label>
          <ul class="nav-list">
            <li><a routerLink="/todo" class="nav-link">List</a></li>
            <li><a routerLink="/todo/new" class="nav-link">New Item</a></li>
          </ul>
        </section>
      </section>

    </nav>
  </div>

</div>
